@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

a {
    color: #0061aa;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #5da4d9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.clearfix::after,
.clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.bold {
    font-weight: 400;
}

.resume-wrapper {
    position: relative;
    text-align: center;
    display: flex;
}


/* left side */

.container {
    display: flex;
    flex-direction: column;
}

.profile {
    background: #fff;
    width: 40%;
    float: left;
    color: #000;
}

.profile .name-wrapper {
    float: left;
    width: 60%;
}

.name-wrapper__title {
    font-size: 2.5em;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #4a4e51;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 40px;
}

.list-element {
    margin-bottom: 10px;
}

.profile .picture-resume-wrapper {
    width: 40%;
    display: block;
    float: left;
}

.profile .picture-resume {
    width: 220px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0px;
    position: relative;
    vertical-align: middle;
    text-align: left;
}

.picture-resume__image {
    border-radius: 20%;
    width: 150px;
}

.profile .contact-info {
    margin-top: 50px;
    font-weight: 300;
}

.profile .list-titles {
    float: left;
    text-align: left;
    font-weight: 600;
    width: 40%;
    color: #4a4e51;
}

.list-content {
    float: left;
    width: 60%;
    text-align: left;
    font-weight: 300;
}

.profile .contact-presentation {
    text-align: left;
    font-weight: 300;
    margin-top: 50px;

}

.experience-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid;
}

.no-underline {
    border-bottom: none;
}

.list-content-full {
    width: 100%;
}

.section-wrapper {
    width: 50%;
    float: left;
    text-align: left;
    color: #000;
    font-weight: 300;
    margin-bottom: 20px;
}

.section-wrapper-full {
    width: 100%;
}


/* right side */

.experience {
    background: #5da4d9;
    width: 60%;
    float: left;
    position: relative;
    color: #fff;
    font-weight: 300;
    min-height: 100%;
    min-height: 100vh;
}

.experience-title--white {
    color: #fff;
}

.experience .company-wrapper {
    width: 30%;
    float: left;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 60px;
}

.experience .job-wrapper {
    width: 70%;
    float: left;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 60px;
}


/* global */

.section-padding {
    padding: 60px 60px 40px 40px;
}

.no-bullets {
    list-style: none;
}

.bullet-list {
    padding-left: 20px;
}


/* Font awesome visibility */

.fa-hide {
    display: none;
}

.fa-big {
    font-size: 1em;
    padding-right: 10px;
    padding-bottom: 5px;
}


/* fixed panel */

.fixed-panel {
    position: fixed;
    bottom: -4px;
    right: 40px;
}

.fixed-panel__button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
    display: block;
}


/* Tooltip */

.tooltip {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .5s;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/* popup form */

.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0s;
    visibility: hidden;
    opacity: 0;
}

.popup-overlay:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.popup {
    margin: 70px auto;
    padding: 10px;
    padding-top: 20px;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    position: relative;
    /* transition: all 5s ease-in-out; */
}

.popup-close {
    position: absolute;
    top: 13px;
    right: 13px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup-close:after {
    display: none;
}

.popup-title {
    border: 0;
    text-align: center;
}


/* recommendations section */

.comment-wrap {
    margin-bottom: 1.25rem;
    display: flex;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    padding: 0 20px;
    display: table-cell;
    width: 6.5rem;
}

.photo .avatar {
    height: 4.25rem;
    width: 4.25rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.av1 {
    background-image: url('../images/mt.jpg');
}

.av2 {
    background-image: url('../images/ed.jpg');
}

.av4 {
    background-image: url('../images/jf.jpg');
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
}

.comment-text {
    margin-bottom: 1.25rem;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}


/* form */

.input-box {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.input-box .form__container-input {
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    color: #000;
    -webkit-transition: all 0.6s ease-out 0s;
    transition: all 0.6s ease-out 0s;
    width: 350px;
}

.input-box .form__container-input:focus,
.input-box .form__container-input:active {
    outline: none;
}

.input-box label {
    position: absolute;
    top: 16%;
    left: 0;
    color: #999;
    font-size: 18px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

.input-box .form__container-input:focus+label,
.input-box .form__container-input:valid+label,
.input-box .form__container-input:not(:empty)+label,
.input-box .form__container-input:not(:placeholder-shown):not(:focus)+label {
    top: -12px;
    font-size: 14px;
    color: #c9c9c9;
}


/* .input-box .form__container-input:not([value=""]):not(:focus):invalid {
    border-bottom: solid 2px tomato;
} */


/* Show red borders when filled, but invalid */

.input-box .form__container-input:not(:placeholder-shown):not(:focus) {
    border-color: hsl(0, 76%, 50%);
    ;
}


/* Show green borders when valid */

.input-box .form__container-input:valid:not(:focus) {
    border-color: hsl(120, 76%, 50%);
}

.input-box .form__container-input:focus {
    border-bottom: solid 2px #5da4d9;
}

.form__container-messsage {
    resize: none;
    height: 100px;
}

.btn {
    display: inline-block;
    line-height: 35px;
    margin: 8px;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
    opacity: .999;
    border-radius: 3px;
}

.btn,
.btn-border-o:before,
.btn-border-o:after,
.btn-border:before,
.btn-border:after {
    transition: all .3s;
}

.btn-border-o {
    background-color: transparent;
    border: 1px solid #d0d0d0;
    color: #B8B8B8;
}

.btn-border-o:before,
.btn-border-o:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
}

.btn-border-o:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s;
}

.btn-border-o:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
}

.btn-border-o:hover:before {
    width: 100%;
}

.btn-border-o:hover:after {
    height: 100%;
}

.btn-border-o.btn-blue:before,
.btn-border-o.btn-blue:after {
    border-color: #3498db;
}

.btn-border-o.btn-blue:hover {
    color: #3498db;
}

.only-print {
    display: none;
}


/*RWD*/


/* mobile */

@media (max-width: 767px) {
    .profile .picture-resume-wrapper {
        width: 100%;
    }
    .profile .list-titles {
        display: none;
    }

    .name-wrapper__title {
        text-align: center;
        font-size: 1.8em;
        padding-top: 20px;
    }
    .profile .name-wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .profile .list-content {
        width: 100%;
        padding-left: 15px;
    }
    .profile .picture-resume {
        width: 180px;
        height: 180px;
        margin: 0 auto;
    }
    .profile .contact-info {
        margin-top: 50px;
    }
    .section-wrapper {
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .experience .company-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .experience .job-wrapper {
        width: 100%;
        margin-bottom: 40px;
    }
    .section-padding {
        padding: 40px 10% 20px 5%;
    }
    .fa-hide {
        display: inline-block;
        padding-right: 10px;
    }
    .popup {
        width: 300px;
    }
    .form__container-messsage {
        height: auto;
    }
    .input-box .form__container-input {
        width: auto;
    }
    .comment-wrap {
        flex-direction: column;
        align-items: center;
    }
    .photo {
        padding: 0.625rem 20px;
        display: flex;
        order: -1;
    }

}


/* tablet */

@media (max-width: 1191px) {

    .no-mobile {
        display:none;
    }
    .only-mobile {
        display:block;
    }
    .profile .contact-presentation {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .profile {
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .section-padding {
        padding: 80px 15% 40px 10%;
    }
    .profile .picture-resume {
        text-align: center;
    }
    .resume-wrapper {
        flex-direction: column;
    }
}


/* printer */

@media print {
    * {
        font-size: 12px;
    }

    .print-show {
        display: inline-block;
        padding-right: 10px;
    }
    .profile .picture-resume-wrapper {
        width: 40%;
    }
    .profile .contact-info,
    .profile .contact-presentation {
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile .list-titles {
        display: none;
    }
    .profile .list-content {
        width: 40%;
    }
    .profile .name-wrapper {
        display:none;
    }
    .name-wrapper__title {
        text-align: left;
        padding-top: 40px;
    }
    .experience,
    .experience-title--white {
        color: #000;
        background: #fff;
    }
    .section-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    .fixed-panel {
        display: none;
    }
    .experience .job-wrapper {
        margin-bottom: 0;
    }
    a {
        color: #000;
    }
    .picture-resume-wrapper {
        margin-top:10px;
    }
    .photo, .company-wrapper {
        display: none;
    }
    .only-print {
        display: inline-block;
    }
    .only-print-padding {
        padding-top: 85px;
    }
    .no-print {
        display: none;
    }
}

.js-hide {
    display: none;
}

.absolute-bottom {
    position: absolute;
    bottom: -200px;
    left:0;
    text-align: left;
    font-size: 8px;
}